.background-img {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}
.background-img.mobile-img {
  display: none !important;
}
.header {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 14%;
}
.text-on-image {
  padding: 3rem 5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
  box-shadow: 0 10px 10px 15px rgba(0, 0, 0, 0.7);
  display: grid;
  grid-template-areas:
    "name"
    "about"
    "buttons";
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-on-image > h2 {
  grid-area: name;
}
.text-on-image > p {
  grid-area: about;
  font-size: 1.1rem;
  word-spacing: 0.15rem;
  margin-bottom: 3rem;
}
.text-on-image .buttons-on-image {
  grid-area: buttons;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.buttons-on-image > .btn {
  display: inline-block;
  border: 1px solid white;
  color: white;
  padding: 10px 16px;
  font-weight: 500;
}
.buttons-on-image > .btn:hover {
  box-shadow: 0 0 2px rgb(118, 197, 250), 0 0 4px rgb(61, 177, 255),
    0 0 10px rgb(61, 177, 255), 0 0 20px rgb(61, 177, 255),
    0 0 40px rgb(61, 177, 255);
  text-shadow: 0 0 7px rgb(118, 197, 250), 0 0 10px rgb(61, 177, 255),
    0 0 21px rgb(61, 177, 255), 0 0 42px rgb(61, 177, 255),
    0 0 82px rgb(61, 177, 255);
}

@media only screen and (min-width: 5000px) {
  .background-img {
    left: 25%;
    width: 50%;
  }
}
@media only screen and (max-width: 1200px) {
  .text-on-image > p {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 1000px) {
  .text-on-image > p {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 880px) {
  .text-on-image {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: none;
  }
  .text-on-image > p {
    margin-bottom: 1rem;
  }
  .text-on-image {
    padding: 2rem 3rem;
  }
  .text-on-image .buttons-on-image {
    padding-bottom: 2rem;
  }
  .buttons-on-image > .btn,
  .buttons-on-image > .btn:hover {
    text-shadow: 0 0 7px rgb(250, 241, 118), 0 0 10px rgb(170, 112, 57),
      0 0 21px rgb(170, 112, 57), 0 0 42px rgb(170, 112, 57),
      0 0 82px rgb(170, 112, 57);
    box-shadow: 0 0 2px rgb(250, 241, 118), 0 0 4px rgb(170, 112, 57),
      0 0 10px rgb(170, 112, 57), 0 0 20px rgb(170, 112, 57);
    padding: 0.5rem 0.5rem;
  }
}
@media only screen and (max-width: 700px) {
  .background-img.pc-img {
    display: none !important;
  }
  .background-img.mobile-img {
    display: block !important;
  }
  .text-on-image {
    padding: 1rem 1.5rem;
  }
}
@media only screen and (max-width: 450px) {
  .text-on-image {
    padding: 0 0.2rem;
  }
}
